<div class="subnavbar" ng-controller="User">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li class="active">
                    <a href="index.html"><i class="icon-dashboard"></i><span>Dashboard</span></a>
                </li>
                <li ng-show="isAdmin()">
                    <a href="#/projects/add-project"><i class="icon-edit"></i><span>Add Project</span> </a>
                </li>
                <li ng-controller="Project" ng-show="isAdmin()">
                    <!--TODO edit link add-issue -->
                    <a href="#/projects/:id/add-issue"><i class="icon-sitemap"></i><span>Add Issue</span> </a>
                </li>
                <!--<li><a href="charts.html"><i class="icon-bar-chart"></i><span>Charts</span> </a></li>-->
                <!--<li><a href="shortcodes.html"><i class="icon-code"></i><span>Shortcodes</span> </a></li>-->
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-long-arrow-down"></i>
                        <span>Drops</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="icons.html">Icons</a></li>
                        <li><a href="pricing.html">Pricing Plans</a></li>
                        <li><a href="error.html">404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->