<div ng-repeat="v in video">
    <ul>
        //TODO add ng-repeat
        <li>{{v.title}}</li>
        <li><img ng-src="{{v.pictureUrl}}" alt="..."></li>
        <li>{{v.length}}</li>
        <li>{{v.category}}</li>
        <li>{{v.subscribers}}</li>
        <li>{{v.date}}</li>
        <li>{{v.haveSubtitles}}</li>
        <li ng-repeat="comment in v.comments">
        <ul>
            <li>{{comment.username}}</li>
            <li>{{comment.content}}</li>
            <li>{{comment.date}}</li>
            <li>{{comment.likes}}</li>
            <li>{{comment.websiteUrl}}</li>
        </ul>
        </li>
    </ul>
</div>