<div class="widget widget-table action-table">
    <div class="widget-header"><i class="icon-th-list"></i>
        <h3>All Projects</h3>
    </div>
    <div class="widget-content">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Issue</th>
                <th>Project</th>
                <th>Due Date</th>
                <th class="td-actions"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Bad Request has no message describing the problem</td>
                <td>SIT</td>
                <td>28/03/2016</td>
                <td class="td-actions">
                    <a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a>
                    <a href="javascript:;" class="btn-icon-only icon-remove"></i></a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Adding new product doesn't list correct price</td>
                <td>Cart Management</td>
                <td>30/03/2016</td>
                <td class="td-actions">
                    <a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a>
                    <a href="javascript:;" class="btn-icon-only icon-remove"></i></a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>English version broken</td>
                <td>Nasdaq informational site</td>
                <td>02/04/2016</td>
                <td class="td-actions">
                    <a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a>
                    <a href="javascript:;" class="btn-icon-only icon-remove"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>