<table class="table">
    <thead class="thead-default">
        <tr>
            <th>#</th>
            <th>Issue</th>
            <th>Project</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Bad Request has no message describing the problem</td>
            <td>SIT</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Adding new product doesn't list correct price</td>
            <td>Cart Management</td>
            <td>30/03/2016</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>English version broken</td>
            <td>Nasdaq informational site</td>
            <td>02/04/2016</td>
        </tr>
    </tbody>
</table>