<div class="widget" ng-controller="Issue" ng-init="getIssueById()">
    <div ng-controller="User">
        <div class="widget-header">
            <i class="icon-sitemap"></i>
            <h3>IssueKey : <em style="color: tomato;">{{issue.IssueKey}}</em></h3>
            <button ng-controller="User" ng-show="isLead()" class="right btn btn-success">
                <a href="#/issues/{{issue.Id}}/edit/projects={{issue.Project.Id}}">Edit Issue</a>
            </button>
        </div>
        <div class="widget-content" >
            <ul class="messages_layout">
                <li>
                    <div class="message_wrap span7">
                        <div class="text">Title : <a href="#/issues/{{issue.Id}}" class="name">{{issue.Title}}</a></div>
                        <div class="text">Project : <a href="#/projects/{{issue.Project.Id}}" class="name">{{issue.Project.Name}}</a></div>
                        <div class="text">Due Date : <span class="time">{{issue.DueDate}}</span></div>
                        <div class="text {{issue.Status.Name}}">Status : {{issue.Status.Name}}</div>
                        <div class="text">Desc : {{issue.Description}}</div>
                        <div class="text">Labels : <i ng-repeat="labels in issue.Labels"><span class="label label-info">{{labels.Name}}</span> </i></div>
                        <div ng-show="isAdmin() || isAssignee()">
                            <a class="right edit" href="#issues/{{issue.Id}}/edit"><i class="icon-trash icon-large"></i> Edit</a>
                            <div class="dropdown right">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Change Status
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-controller="IssueChangeStatus">
                                    <a ng-repeat="status in issue.AvailableStatuses" class="dropdown-item {{status.Name}} icon-legal" href="#/issues/{{issue.Id}}/{{status.Name}}"> {{status.Name}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <ul class="messages_layout" ng-init="getAllCommentsByIssueId()">
                                <li class="from_user" ng-repeat="comment in comments">
                                    <div class="message_wrap span5"><span class="arrow"></span>
                                        <div class="info"><a class="name">{{comment.Author.Username}} </a>
                                            <span class="time"> {{comment.CreatedOn}}</span>
                                        </div>
                                        <div class="text">{{comment.Text}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="text span4">
                        <form method="post" ng-show="isAdmin()" ng-init="getCurrentUser()">
                            <h3>Add Comment</h3>
                            <div class="form-group">
                                <label for="Text">Comment Text</label>
                                <input type="text" ng-model="comment.text" class="span3 form-control" id="Text" placeholder="Text" value="Text">
                                <br>
                            </div>
                            <br>
                            <button ng-click="addComment(comment, currentUser)" class="btn btn-success right">Add
                                Comment
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>