<div class="widget" ng-controller="Issue" ng-init="getMyIssues()">
    <div class="widget-header">
        <i class="icon-sitemap"></i>
        <h3>Issues</h3>
    </div>
    <div class="widget-content">
        <ul class="messages_layout">
            <li ng-repeat="issue in issues">
                <div class="message_wrap span7">
                    <div class="text">Title : <a href="#/issues/{{issue.Id}}" class="name">{{issue.Title}}</a></div>
                    <div class="text">Project : <a href="#/projects/{{issue.Project.Id}}" class="name">{{issue.Project.Name}}</a></div>
                    <div class="text">Due Date : <span class="time">{{issue.DueDate}}</span></div>
                    <div class="text {{issue.Status.Name}}">Status : {{issue.Status.Name}}</div>
                    <div class="text">Desc : {{issue.Description}}</div>
                    <div class="text">Labels : <i ng-repeat="labels in issue.Labels"><span class="label label-info">{{labels.Name}}</span> </i></div>
                </div>
            </li>
        </ul>
    </div>
    <br>
    <!--TODO Pagination-->
    <nav>
        <ul class="pager">
            <li class="pager-prev disabled">
                <button ng-click="prevPage(page + 1)">Prev</button>
            </li>
            <li class="pager-next">
                <button ng-click="nextPage(page + 1)">Next</button>
            </li>
        </ul>
    </nav>
</div>