<div class="widget widget-nopad" ng-controller="Project" ng-init="getProjectById()">
    <div class="widget-header">
        <i class="icon-book"></i><h3>Project Name : {{project.Name}} | Project Key : <em style="color: tomato;">{{project.ProjectKey}}</em></h3>
        <button ng-controller="User"  ng-show="isAdmin()" class="right btn btn-success"><a href="#/projects/{{project.Id}}/edit">Edit Project</a></button>
        <button ng-controller="User"  ng-show="isAdmin()" class="right btn btn-success"><a href="#/projects/{{project.Id}}/add-issue">Add Issue</a></button>
    </div>
    <div class="widget-content">
        <div class="widget big-stats-container">
            <div class="widget-content">
                <h6 class="bigstats">{{project.Description}}</h6>
                <div id="big_stats" class="cf">
                    <div class="stat">
                        <i class="icon-user"> Lead</i>
                        <ol>
                            <li class="list-style-none"><a href="#/user/{{project.Lead.Id}}">{{project.Lead.Username}}</a></li>
                        </ol>
                    </div>
                    <div class="stat">
                        <i class="icon-bookmark"> Labels</i>
                        <ol>
                            <li ng-repeat="label in project.Labels" class="list-style-none">{{label.Name}}</li>
                        </ol>
                    </div>
                    <div class="stat">
                        <i class="icon-asterisk"> Priorities</i>
                        <ol>
                            <li ng-repeat="prioritie in project.Priorities" class="list-style-none">{{prioritie.Name}}</li>
                        </ol>
                    </div>
                    <div class="stat" ng-controller="Issue">
                        <i class="icon-sitemap"> Issues</i>
                        <ol ng-init="getIssueByProjectId()">
                            <li class="list-style-none {{issue.Status.Name}}" ng-repeat="issue in issues">
                                <button type="button" class="btn btn-warning" data-toggle="modal"
                                        data-target="#{{issue.Id}}">{{issue.Title}}
                                </button>
                                <div id="{{issue.Id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">{{issue.Title}}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Some text in the modal.</p>
                                                <p>Some text in the modal.</p>
                                                <p>Some text in the modal.</p>
                                                <a href="#/issues/{{issue.Id}}">{{issue.Status.Name}} :
                                                    {{issue.Title}}</a>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <a href="#/issues/{{issue.Id}}">View</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>