<div class="widget widget-table action-table" ng-controller="Project" ng-init="getMyProjects()">
    <div ng-repeat="project in myProjects.Projects">
        <div class="widget-header">
            <i class="icon-book"></i><h3>Project Name : {{project.Name}} | Project Key : <em style="color: tomato;">{{project.ProjectKey}}</em></h3>
            <button class="right btn btn-success">
                <a href="#/projects/{{project.Id}}">View Project</a>
            </button>
            <button ng-controller="User" ng-show="isAdmin() || isLead()" class="right btn btn-success">
                <a href="#/projects/{{project.Id}}/edit">Edit Project</a>
            </button>
        </div>
        <div class="widget-content">
            <div class="widget big-stats-container">
                <div class="widget-content">
                    <h6 class="bigstats">{{project.Description}}</h6>
                    <div id="big_stats" class="cf">
                        <div class="stat">
                            <i class="icon-user"> Lead</i>
                            <ol>
                                <li class="list-style-none"><a href="#/user/{{project.Lead.Id}}">{{project.Lead.Username}}</a></li>
                            </ol>
                        </div>
                        <div class="stat">
                            <i class="icon-bookmark"> Labels</i>
                            <ol>
                                <li ng-repeat="label in project.Labels" class="list-style-none">{{label.Name}}</li>
                            </ol>
                        </div>
                        <div class="stat">
                            <i class="icon-asterisk"> Priorities</i>
                            <ol>
                                <li ng-repeat="priority in project.Priorities" class="list-style-none">
                                    {{priority.Name}}
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>