<div class="account-container" ng-controller="Login">
    <div class="content clearfix">
        <form action="#" method="post" ng-submit="login()">
            <h1>Login in system</h1>
            <div class="login-fields">
                <p>Please provide your details</p>
                <div class="field">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" ng-model="username" placeholder="Username" class="login username-field" />
                </div>
                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" ng-model="password" placeholder="Password" class="login password-field"/>
                </div>
            </div>
            <div class="login-actions">
				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">Keep me signed in</label>
				</span>
                <button class="button btn btn-success btn-large">Sign In</button>
            </div>
        </form>
    </div>
</div>
<div class="login-extra">
    <a href="#/signup">I don't have account</a>
</div>