<div class="account-container register" ng-controller="User">
    <div class="content clearfix">
        <form method="post">
            <h1>SignUp</h1>
            <div class="login-fields">
                <p>Create your free account:</p>
                <div class="field">
                    <label for="email">Email Address:</label>
                    <input type="text" id="email" ng-model="registerUser.email" name="email" placeholder="Email" />
                </div>
                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" ng-model="registerUser.password" name="password" placeholder="Password" />
                </div>
                <div class="field">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" ng-model="registerUser.confirmPassword" name="Confirm Password" placeholder="Confirm Password" />
                </div>
            </div>
            <div class="login-actions">
                <button ng-click="registerUserInSystem(registerUser)" class="button btn btn-primary btn-large">Register</button>
            </div>
        </form>
    </div>
</div>