<div class="subnavbar" ng-controller="User" ng-show="hasLogged()">
    <div class="subnavbar-inner">
        <div class="container">
            <ul>
                <li>
                    <a href="#/"><i class="icon-dashboard"></i><span>Dashboard</span></a>
                </li>
                <li ng-controller="Issue">
                    <a href="#/issues-all/page={{pageNumber}}/size={{pageSize}}/filter={{filterPage}}"><i
                            class="icon-sitemap"></i><span>All Issues</span> </a>
                </li>
                <li ng-show="isAdmin()">
                    <a href="#/projects/add"><i class="icon-edit"></i><span>Add Project</span> </a>
                </li>
                <li ng-show="isAdmin()">
                    <a href="#/projects-all"><i class="icon-book"></i><span>All Project</span> </a>
                </li>
                <li ng-show="isAdmin()">
                    <a href="#/users" class="shortcut"><i class="icon-user"></i><span class="shortcut-label">All Users</span></a>
                </li>
                <li>
                    <a href="#/labels"><i class="icon-bookmark"></i><span>Labels</span> </a>
                </li>
                <li>
                    <a href="#/profile/password"><i class="icon-user"></i><span>Change Password</span></a>
                </li>
                <li>
                    <a href="" ng-click="logoutUser()"><i class="icon-user"></i><span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>