<!--if not login user-->
<div class="row" ng-show="!isAuthenticated">
    <div class="span11 alert alert-{{notification.type}}" role="alert" notification-error="{{notification.status}}">{{notification.message}}</div>
    <div class="span6" ng-include="'app/user/partials/login.html'"></div>
    <div class="span6" ng-include="'app/user/partials/register.html'"></div>
</div>
<!--if login user-->
<div class="row" ng-show="isAuthenticated">
    <div class="span11 alert alert-{{notification.type}}" role="alert" notification-success="{{notification.status}}">{{notification.message}}</div>

    <div class="span8">
        <div ng-include="'app/issue/partials/issues.html'"></div>
    </div>
</div>