<div class="widget">
    <div class="widget-header">
        <i class="icon-signal"></i><h3> Area Chart Example</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <canvas id="area-chart" class="chart-holder" height="250" width="538"></canvas>
        <!-- /area-chart -->
    </div>
    <!-- /widget-content -->
</div>

<!-- /widget -->
<div class="widget widget-nopad">
    <div class="widget-header"><i class="icon-list-alt"></i>
        <h3> Recent News</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div id='calendar'>
        </div>
    </div>
    <!-- /widget-content -->
</div>

<script src="js/base.js"></script>