<div class="row" ng-if="!isAuthenticated">
    <div class="span11 alert alert-{{notification.type}}" style="display: none;" role="alert" data-notification-error="{{notification.status}}">{{notification.message}}</div>

    <div class="span5" ng-include="'app/template/user/login.html'"></div>
    <div class="span5" ng-include="'app/template/user/signup.html'"></div>
</div>


<div class="row" ng-if="isAuthenticated">
    <div class="span11 alert alert-{{notification.type}}" style="display: none;" role="alert" data-notification-success="{{notification.status}}">{{notification.message}}</div>

    <!--<div class="span8">-->
        <!--<div ng-include="'app/template/project/project-all.html'"></div>-->
    <!--</div>-->
    <div class="span6">
        <div ng-include="'app/template/issue/issue-all.html'"></div>
    </div>

    <div class="span6">
        <div ng-include="'app/template/stats.html'"></div>
        <div ng-include="'app/template/issue.html'"></div>
    </div>
    <div class="span6">
        <div ng-include="'app/template/important-page.html'"></div>
        <div ng-include="'app/template/recents-projects.html'"></div>
    </div>
</div>