<div class="widget">
    <div class="widget-header"><i class="icon-bookmark"></i>
        <h3>Pages</h3>
    </div>
    <div class="widget-content">
        <div class="shortcuts">
            <a href="#/projects" class="shortcut">
                <i class="shortcut-icon icon-dashboard"></i>
                <span class="shortcut-label">Dashboard</span>
            </a>
            <a href="#/projects" class="shortcut">
                <i class="shortcut-icon icon-briefcase"></i>
                <span class="shortcut-label">All Project</span>
            </a>
            <a href="#/issues" class="shortcut">
                <i class="shortcut-icon icon-sitemap"></i>
                <span class="shortcut-label">All Issues</span>
            </a>
            <a href="#" class="shortcut">
                <i class="shortcut-icon icon-comment"></i>
                <span class="shortcut-label">Comments</span>
            </a>
            <a href="#/users" class="shortcut">
                <i class="shortcut-icon icon-user"></i>
                <span class="shortcut-label">Users</span>
            </a>
            <a href="javascript:;" class="shortcut">
                <i class="shortcut-icon icon-file"></i>
                <span class="shortcut-label">Notes</span>
            </a>
        </div>
    </div>
</div>