<div ng-controller="User">
    <div class="widget widget-table action-table" ng-init="getAllUsers()" ng-show="isAdmin()">
        <table class="table span9">
            <thead>
                <tr>
                    <th class="span2">Username</th>
                    <th class="span2">Is Admin</th>
                    <th class="span5">UserId</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in allUsers">
                    <td>{{user.Username}}</td>
                    <td>{{user.isAdmin}}</td>
                    <td>{{user.Id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>